<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: '403 Error'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h1>Not Authorized (403)</h1>
        <p class="center-p">
          You are not authorized to view this page. Please click
          <a href="/">here</a> to return to the home page.
        </p>
      </section>
      <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
