<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: '404 Error'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h1>Page Not Found (404)</h1>
        <p>
          Page not Found. Please click
          <a href="/">here</a> to return to the home page.
        </p>
      </section>
      <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
