.ctn-img-prvw {
  margin: 0 auto 1rem auto;
  width: 20vw;
  width: 20dvw;
  min-width: 12rem;
  img {
    width: 100%;
    border-radius: 4px;
  }
}

.ctn-dialog {
  width: 80vw;
  width: 80dvw;
}

.ctn-dialog-content {
  display: flex;
  flex-direction: column;
}

.ctn-title-image {
  display: flex;
  gap: 1rem;
  mat-form-field {
    flex: 1 1;
  }
}

.mat-mdc-dialog-actions {
  justify-content: center;
}

.note {
  text-align: center;
}

/* handset */

.hs-ctn-title-image {
  display: flex;
  flex-direction: column;
}
