<div [class]="handsetMode ? 'hs-ctn-dialog' : 'ctn-dialog'">
  <h1 mat-dialog-title>
    {{ dialogPayLoad.editMode ? "Edit" : "Add" }}
    {{ dialogPayLoad.recipe.title }} Recipe
  </h1>
  <form #recipeForm="ngForm" (ngSubmit)="onSave(recipeForm)">
    <div
      [class]="handsetMode ? 'hs-ctn-dialog-content' : 'ctn-dialog-content'"
      mat-dialog-content
    >
      <div [class]="handsetMode ? 'hs-ctn-title-image' : 'ctn-title-image'">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input
            required
            matInput
            name="recipe-title"
            [ngModel]="dialogPayLoad.recipe.title"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label
            >Image (e.g. "{{ dialogPayLoad.recipe.title }}.jpg")</mat-label
          >
          <mat-select
            (selectionChange)="onImageChange($event)"
            required
            name="recipe-image-path"
            [ngModel]="dialogPayLoad.recipe.imagePath"
          >
            <mat-option *ngFor="let image of recipeImages" [value]="image">{{
              image
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        *ngIf="dialogPayLoad.recipe.imagePath || recipeImagePath"
        [class]="handsetMode ? 'hs-ctn-img-prvw' : 'ctn-img-prvw'"
      >
        <img
          [src]="
            recipeImagePath
              ? '../../../../assets/' + recipeImagePath
              : '../../../../assets/' + dialogPayLoad.recipe.imagePath
          "
          alt=""
        />
      </div>
      <mat-form-field>
        <mat-label>Short Description</mat-label>
        <textarea
          matInput
          required
          name="recipe-short-desc"
          [ngModel]="dialogPayLoad.recipe.shortDesc"
        >
        </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          required
          name="recipe-desc"
          [ngModel]="dialogPayLoad.recipe.desc"
        ></textarea>
      </mat-form-field>
      <app-ingredients-table
        (ingredientsChange)="getIngredients($event)"
        (ingredientsFormInvalid)="getIngredientsFormStatus($event)"
        [ingredients]="dialogPayLoad.recipe.ingredients ?? []"
      ></app-ingredients-table>
    </div>
    <div mat-dialog-actions>
      <button
        matTooltip="Cancel"
        mat-mini-fab
        color="warn"
        (click)="onCancel()"
        type="button"
      >
        <mat-icon>cancel</mat-icon>
      </button>
      <button
        color="basic"
        matTooltip="Save Recipe"
        mat-mini-fab
        type="submit"
        cdkFocusInitial
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </form>
</div>
