#title {
  margin-top: 12vh;
  margin-top: 12dvh;
}

.note {
  text-align: center;
}

.btns {
  margin: 0.5rem 0.5rem 0 0;
}

.wrp-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctn-chart {
  margin-top: 2vh;
  margin-top: 2dvh;
  height: 65vh;
  height: 65dvh;
  width: 60vw;
  width: 60dvw;
}
