<h1>Recipe Details</h1>
<section>
  <article>
    <h2>{{ recipe.title }}</h2>
    <div class="ctn-rcp-img">
      <img
        class="rcp-img"
        src="../../assets/{{ recipe.title }}.jpg"
        alt="burger"
      />
    </div>
  </article>
  <article>
    <h2>Ingredients</h2>
    <ul *ngFor="let ingredient of recipe.ingredients">
      <li>
        {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
      </li>
    </ul>
    <br />
    <button
      *ngIf="!added && userId"
      mat-raised-button
      color="accent"
      (click)="onAddItems()"
    >
      Add to Shopping List
    </button>
    <button
      *ngIf="added"
      mat-raised-button
      color="primary"
      (click)="onAddItems()"
    >
      Added to Shopping List!
    </button>
    <br />
    <br />
    <p>{{ recipe.desc }}</p>
  </article>
</section>
