<header>
  <nav>
    <ul id="header-links">
      <li><a href="/">Home</a></li>
      <% if (locals.isAdmin) {%>
      <li><a href="/admin">Admin</a></li>
      <% } %>
      <li><a href="/products">Products</a></li>
      <li id="header-cart" class="<%= locals.cartHeader %>">
        <a href="/cart">Cart</a>
      </li>
      <div id="aside-header-cart" class="<%= locals.cartHeader %>">
        <a href="/cart">Cart</a>
      </div>
      <% if (!locals.isAuth) {%>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      <% } %> 
      <% if (locals.isAuth) {%>
      <li><a href="/order-history">Orders</a></li>
      <li>
        <form action="/logout" method="POST">
          <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>" />
          <button type="submit" id="header-logout-btn">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
    <div id="hmg-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>
