h2 {
  text-align: center;
}

.ctn-rcps {
  display: flex;
  justify-content: space-around;
}

.ctn-rcp {
  width: 100%;
}

.ctn-rcp-img {
  width: 30rem;
  margin: auto;
}

img {
  width: 30rem;
  height: 20rem;
  border-radius: 0.5rem;
}

p {
  margin: 1rem;
  text-align: justify;
}
