<h1>All Recipes</h1>
<div
  [ngClass]="{
    'ctn-rcps': handsetMode === false,
    'hs-ctn-rcps': handsetMode === true
  }"
>
  <div
    [ngClass]="{
      'ctn-rcp': handsetMode === false,
      'hs-ctn-rcp': handsetMode === true
    }"
  >
    <h2><a routerLink="/recipes/63ea2bfaff7f5bda28e67908">Vegan Burger</a></h2>
    <img
      src="../../assets/Burger.jpg"
      alt=""
      [ngClass]="{
        'hs-img': handsetMode === true
      }"
    />
    <p>
      Here is a delicious and easy-to-follow vegan burger recipe that is sure to
      be a hit with everyone, regardless of whether they follow a vegan diet or
      not!
    </p>
  </div>
  <div
    [ngClass]="{
      'ctn-rcp': handsetMode === false,
      'hs-ctn-rcp': handsetMode === true
    }"
  >
    <h2><a routerLink="/recipes/63f1dc943e9206cb20b0db99">Hummus</a></h2>

    <img
      src="../../assets/Hummus.jpg"
      alt=""
      [ngClass]="{
        'hs-img': handsetMode === true
      }"
    />

    <p>
      This delicious hummus recipe is a creamy and flavorful dip that is perfect
      for a snack or appetizer. Made with simple ingredients like chickpeas,
      tahini, lemon juice, and garlic, this hummus is a classic recipe that is
      easy to make and always a crowd-pleaser.
    </p>
  </div>
  <div
    [ngClass]="{
      'ctn-rcp': handsetMode === false,
      'hs-ctn-rcp': handsetMode === true
    }"
  >
    <h2><a routerLink="/recipes/63f1e6a83e9206cb20b0dc30">Bowl</a></h2>

    <img
      src="../../assets/Bowl.jpg"
      alt=""
      [ngClass]="{
        'hs-img': handsetMode === true
      }"
    />

    <p>
      A typical tofu bowl consists of a bed of rice, topped with sautéed or
      marinated tofu, and a variety of fresh vegetables, fruits, and other
      toppings. The vegetables used in a tofu bowl can vary, but commonly
      include ingredients such as avocado, cucumber, edamame, carrots, and other
      greens.
    </p>
  </div>
</div>
<div
  [ngClass]="{
    'ctn-rcps': handsetMode === false,
    'hs-ctn-rcps': handsetMode === true
  }"
>
  <div
    [ngClass]="{
      'ctn-rcp': handsetMode === false,
      'hs-ctn-rcp': handsetMode === true
    }"
  >
    <h2><a routerLink="/recipes/63f1e8783e9206cb20b0dcad">Ramen</a></h2>
    <img
      src="../../assets/Ramen.jpg"
      alt=""
      [ngClass]="{
        'hs-img': handsetMode === true
      }"
    />
    <p>
      Flavorful broth made from vegetables, such as shiitake mushrooms, onions,
      and garlic, and often includes miso paste, soy sauce, and mirin for added
      flavor.
    </p>
  </div>
  <div
    [ngClass]="{
      'ctn-rcp': handsetMode === false,
      'hs-ctn-rcp': handsetMode === true
    }"
  >
    <h2><a routerLink="/recipes/63f1ea2a3e9206cb20b0ddae">Burrito</a></h2>
    <img
      src="../../assets/Burrito.jpg"
      alt=""
      [ngClass]="{
        'hs-img': handsetMode === true
      }"
    />
    <p>
      This vegan burrito recipe is a flavorful and nutritious meal that is easy
      to make and perfect for a quick lunch or dinner. Whether you're a vegan or
      just looking for a healthy and tasty meal, this burrito is sure to satisfy
      your cravings and keep you fueled for hours.
    </p>
  </div>
  <div
    [ngClass]="{
      'ctn-rcp': handsetMode === false,
      'hs-ctn-rcp': handsetMode === true
    }"
  >
    <h2><a routerLink="/recipes/63f1ed4b3e9206cb20b0dfe3">Meatballs</a></h2>
    <img
      src="../../assets/Meatballs.jpg"
      alt=""
      [ngClass]="{
        'hs-img': handsetMode === true
      }"
    />
    <p>
      This vegan meatballs recipe features a delightful blend of nutritious and
      flavorful ingredients that come together to create a satisfying and
      delicious plant-based meal. These vegan meatballs are not only tasty, but
      they are also packed with essential nutrients and are free from any animal
      products, making them a great option for anyone looking for a satisfying
      plant-based meal.
    </p>
  </div>
</div>
