h2 {
  text-align: center;
}

.ctn-rcps {
  display: flex;
  justify-content: space-around;
}

.ctn-rcp {
  width: 30%;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

p {
  text-align: justify;
}

/* handset mode */

.hs-ctn-rcps {
  display: block;
}

.hs-img {
  width: 100%;
  border-radius: 0.5rem;
}
