<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', {docTitle: 'Thank You!'}) %>
  <body>
    <%- include('includes/header') %>
    <main>
      <section>
        <h1>Order Placed</h1>
        <p class="center-p">
          Please click <a href="/">here</a> to return to the home page.
        </p>
      </section>
      <%- include('includes/aside') %>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
