#order-history-main {
  display: flex;
}

#order-history-section {
  max-width: 100%;
  margin: 0 auto;
}

#order-history-section h2,
h3 {
  text-align: center;
}

.shipping-and-products-container {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

#shipping-payment {
  margin: 0 auto;
}

.shipping-payment-details {
  border: 2px solid black;
  box-shadow: 10px -3px 15px rgb(0 0 0 / 17%);
  border-radius: 3px;
  margin: 1rem 0 0 0;
}

.shipping-payment-details li {
  margin: 0 1rem;
}

#payment-method-p,
#country-p {
  text-transform: capitalize;
}

@media (max-width: 1554px) {
  /* #order-history-section {
    width: 40rem;
  } */
}

@media (max-width: 1330px) {
  /* #order-history-section {
    width: 30rem;
  } */
}

@media (max-width: 768px) {
  .shipping-and-products-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .shipping-and-products-container {
    column-gap: 1rem;
  }
}

@media (max-width: 588px) {
  #shipping-payment {
    width: 23rem;
  }

  .cart-item-container img {
    top: 4rem;
  }

  .cart-item-details {
    width: 13rem;
  }
}
