p {
  text-align: center;
  position: relative;
}

.projects-ctn {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 90%;
  max-width: 70rem;
  margin: auto;
  align-items: center;
}

.projects-img {
  margin: auto;
  display: inline-block;
  object-fit: fill;
  width: 90%;
  max-width: 60rem;
  border-radius: 0.3rem;
  box-shadow: 0.8rem 0.8rem 0.2rem rgba(230, 120, 50, 0.5);
  cursor: pointer;
}

.arrow-icon {
  display: inline-block;
  width: 2rem;
  cursor: pointer;
}

.arrow-left {
  margin-left: 0rem;
}
.arrow-right {
  margin-right: 0rem;
}

/* zoom-in classes */

.incr-z-index {
  z-index: 2;
}

.image-zoom {
  width: 85%;
  height: 85%;
}

.arrows-zoom {
  margin: 0 1rem;
}

.image-zoom-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
}

.image-zoom-backdrop span {
  position: absolute;
  top: 5%;
  right: 2.5%;
  font-size: 5rem;
  color: white;
  cursor: pointer;
}

.image-zoom-backdrop span:hover {
  color: rgb(230, 120, 50);
}

/* responsive classes */

.handset-arrow-left {
  position: absolute;
  width: 8%;
  margin: 0;
  left: 0.2rem;
}

.handset-arrow-right {
  position: absolute;
  width: 8%;
  margin: 0;
  right: 0.2rem;
}

.handset-projects-img {
  object-fit: cover;
  width: 60%;
  box-shadow: -0.3rem 0.4rem 0.2rem rgba(230, 120, 50, 0.5);
  cursor: pointer;
  margin: auto;
}
