p {
  text-align: center;
  position: relative;
}

.projects-ctn {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 54rem;
  height: 26rem;
  margin: auto;
  align-items: center;
}

.projects-img {
  margin: auto;
  display: inline-block;
  object-fit: fill;
  width: 90%;
  height: 100%;
  border-radius: 0.3rem;
  box-shadow: 0.8rem 0.8rem 0.2rem rgba(230, 120, 50, 0.5);
  cursor: pointer;
}

.no-box-shadow {
  box-shadow: none;
}

.arrow-icon {
  display: inline-block;
  width: 2rem;
  cursor: pointer;
}

.arrow-left {
  margin-left: 0rem;
}
.arrow-right {
  margin-right: 0rem;
}

/* zoom-in classes */

.incr-z-index {
  position: absolute;
  display: flex;
  top: 5%;
  left: 5%;

  height: 50rem;
  z-index: 1;
}

.incr-z-index-p {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.image-zoom {
  width: 100%;
  height: 100%;
}

.arrows-zoom {
  margin: 0 1rem;
}

.image-zoom-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.image-zoom-backdrop span a {
  position: absolute;
  top: 5%;
  right: 2.5%;
  font-size: 5rem;
  color: white;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
}

.image-zoom-backdrop span a:hover {
  color: rgb(230, 120, 50);
}

/* spinner */

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* .spinner-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
} */

.spinner-recipes,
.spinner-recipes-zoom,
.spinner-time-tracking,
.spinner-time-tracking-zoom,
.spinner-online-shop,
.spinner-online-shop-zoom {
  animation: spinner 1s linear infinite;
  position: absolute;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid white;
  border-top-color: transparent;
  border-radius: 50%;
  transform: translateZ(0) scale(1);
}

.spinner-recipes {
  top: 54%;
}

.spinner-recipes-zoom {
  top: 50%;
  z-index: 1;
}

.spinner-time-tracking {
  top: 127%;
}

.spinner-time-tracking-zoom {
  top: 50%;
  z-index: 1;
}

.spinner-online-shop {
  top: 197%;
}

.spinner-online-shop-zoom {
  top: 50%;
  z-index: 1;
}

/* media queries */

@media (min-width: 2560px) {
  .projects-ctn {
    width: 112rem;
    height: 54rem;
  }
  .incr-z-index {
    left: 2%;
    top: 9%;
    height: 63rem;
    width: 95%;
  }
  .spinner-recipes {
    top: 59%;
  }

  .spinner-time-tracking {
    top: 144%;
  }

  .spinner-online-shop {
    top: 228%;
  }
}

@media (max-width: 1920px) {
  .projects-ctn {
    width: 66rem;
    height: 30rem;
  }

  .incr-z-index {
    top: 11%;
    left: 2%;
    height: 47rem;
    width: 95%;
  }
}

@media (max-width: 1440px) {
  .projects-ctn {
    width: 66rem;
    height: 30rem;
  }

  .incr-z-index {
    top: 11%;
    left: 0%;
    height: 40rem;
    width: 100%;
  }

  .spinner-recipes {
    top: 63%;
  }

  .spinner-time-tracking {
    top: 140%;
  }

  .spinner-online-shop {
    top: 217%;
  }
}

@media (max-width: 1024px) {
  .projects-ctn {
    width: 60rem;
    height: 27rem;
  }
  .incr-z-index {
    left: 0;
    top: 25%;
    height: 27rem;
    width: 100%;
  }

  .spinner-recipes {
    top: 62%;
  }

  .spinner-time-tracking {
    top: 133%;
  }

  .spinner-online-shop {
    top: 205%;
  }
}

@media (max-width: 768px) {
  .projects-ctn {
    width: 47rem;
    height: 22rem;
  }

  .incr-z-index {
    top: 31%;
    left: 0%;
    height: 19rem;
    width: 100%;
  }

  .spinner-recipes {
    top: 58%;
  }

  .spinner-time-tracking {
    top: 121%;
  }

  .spinner-online-shop {
    top: 183%;
  }
}

@media (max-width: 425px) {
  .projects-ctn {
    width: 25rem;
    height: 15rem;
  }

  .spinner-recipes {
    top: 52%;
  }

  .spinner-time-tracking {
    top: 97%;
  }

  .spinner-online-shop {
    top: 144%;
  }
}

@media (max-width: 375px) {
  .projects-ctn {
    width: 23rem;
    height: 14rem;
  }

  .spinner-recipes {
    top: 51%;
  }

  .spinner-time-tracking {
    top: 98%;
  }

  .spinner-online-shop {
    top: 139%;
  }
}

@media (max-width: 320px) {
  .projects-ctn {
    width: 20rem;
    height: 13rem;
  }

  .spinner-recipes {
    top: 53%;
  }

  .spinner-time-tracking {
    top: 95%;
  }

  .spinner-online-shop {
    top: 136%;
  }
}

/* responsive classes */

.handset-arrow-left {
  position: absolute;
  width: 8%;
  margin: 0;
  left: 0.2rem;
}

.handset-arrow-right {
  position: absolute;
  width: 8%;
  margin: 0;
  right: 0.2rem;
}

.handset-projects-img {
  object-fit: cover;
  width: 60%;
  height: 100%;
  min-height: 11rem;
  box-shadow: -0.3rem 0.4rem 0.2rem rgba(230, 120, 50, 0.5);
  cursor: pointer;
  margin: auto;
}
