<main (click)="onMainClick(false)">
  <div *ngIf="!zoomedIn" class="background-style-skewed"></div>
  <h1 *ngIf="!zoomedIn">Welcome to my Portfolio</h1>
  <p *ngIf="!zoomedIn">
    This page was created with Angular & serves as a platform for my projects.
    Feel free to check them out below, find more detailed information about them
    in the
    <a routerLink="/projects" style="color: rgb(230, 120, 50)">projects page</a>
    .
    <br />
    Also feel free to check out my
    <a
      href="https://github.com/Alemaite"
      target="_blank"
      style="color: rgb(230, 120, 50)"
      >GitHub</a
    >. All projects are continuosly being worked on, and are not final.
  </p>
  <br />
  <article *ngIf="!zoomedInTimeTracking && !zoomedInOnlineShop">
    <a href="/projects#recipes"
      ><h2 *ngIf="!zoomedIn" style="cursor: pointer">Recipes App</h2></a
    >
    <p *ngIf="!zoomedIn && handsetMode === false" style="font-size: 0.6rem">
      click to zoom in
    </p>
    <div
      [ngClass]="{
        'incr-z-index': zoomedIn === true,
        'projects-ctn': zoomedIn === false
      }"
    >
      <img
        [@moveSlide]="moveLeftRecipes ? 'leftarrow' : 'normal'"
        (click)="onImageChange('previous', 'recipes')"
        [ngClass]="{
          'handset-arrow-left': handsetMode === true,
          'arrow-left': handsetMode === false,
          'arrows-zoom': zoomedIn === true
        }"
        class="arrow-icon"
        src="../../assets/icons/left-arrow.svg"
        alt="previous-image-icon"
      />
      <ng-container *ngIf="handsetMode === false">
        <ng-container *ngFor="let image of recipesImages">
          <img
            (click)="onZoomIn('recipes')"
            [@moveSlide]="moveRightRecipes ? 'slideonrightarrow' : 'normal'"
            *ngIf="image === recipesActiveImage"
            [ngClass]="{
              'projects-img':
                handsetMode === false && zoomedInRecipes === false,
              'image-zoom': zoomedInRecipes === true
            }"
            src="../../assets/project-screenshots/recipes/{{ image }}.png"
            alt="project-image-{{ recipesImageIndex + 1 }}"
          />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="handsetMode === true">
        <p>This app is not yet responsive.</p>
        <!-- <ng-container *ngFor="let handsetImage of timeTrackingHandsetImages">
          <img
            [@moveSlide]="moveRightRecipes ? 'slideonrightarrow' : 'normal'"
            *ngIf="handsetImage === timeTrackingHandsetActiveImage"
            class="handset-projects-img"
            src="../../assets/project-screenshots/time-tracking/{{
              handsetImage
            }}.png"
            alt="project-image-{{ recipesImageIndex + 1 }}"
          />
        </ng-container> -->
      </ng-container>
      <img
        [@moveSlide]="moveRightRecipes ? 'rightarrow' : 'normal'"
        (click)="onImageChange('next', 'recipes')"
        [ngClass]="{
          'handset-arrow-right': handsetMode === true,
          'arrows-zoom': zoomedIn === true
        }"
        class="arrow-icon arrow-right"
        src="../../assets/icons/right-arrow.svg"
        alt="next-image-icon"
      />
    </div>
    <div *ngIf="zoomedIn" class="image-zoom-backdrop">
      <span (click)="onZoomIn('recipes')">x</span>
    </div>
    <br />
    <div [ngClass]="{ 'incr-z-index-p': zoomedIn === true }">
      <p>[ {{ recipesImageIndex + 1 }} of {{ recipesImages.length }} ]</p>
      <p *ngIf="recipesImageIndex === 0">Home Page</p>
      <p *ngIf="recipesImageIndex === 1">Recipe details</p>
      <p *ngIf="recipesImageIndex === 2">Shopping list</p>
      <p *ngIf="recipesImageIndex === 3">Admin area</p>
    </div>
  </article>
  <br />
  <article *ngIf="!zoomedInRecipes && !zoomedInOnlineShop">
    <a href="/projects#time-tracking"
      ><h2 *ngIf="!zoomedIn" style="cursor: pointer">Time Tracking App</h2></a
    >
    <p *ngIf="!zoomedIn && handsetMode === false" style="font-size: 0.6rem">
      click to zoom in
    </p>
    <div
      [ngClass]="{
        'incr-z-index': zoomedIn === true,
        'projects-ctn': zoomedIn === false
      }"
    >
      <img
        [@moveSlide]="moveLeftTimeTracking ? 'leftarrow' : 'normal'"
        (click)="onImageChange('previous', 'time-tracking')"
        [ngClass]="{
          'handset-arrow-left': handsetMode === true,
          'arrow-left': handsetMode === false,
          'arrows-zoom': zoomedIn === true
        }"
        class="arrow-icon"
        src="../../assets/icons/left-arrow.svg"
        alt="previous-image-icon"
      />
      <ng-container *ngIf="handsetMode === false">
        <ng-container *ngFor="let image of timeTrackingImages">
          <img
            (click)="onZoomIn('time-tracking')"
            [@moveSlide]="
              moveRightTimeTracking ? 'slideonrightarrow' : 'normal'
            "
            *ngIf="image === timeTrackingActiveImage"
            [ngClass]="{
              'projects-img':
                handsetMode === false && zoomedInTimeTracking === false,
              'image-zoom': zoomedInTimeTracking === true
            }"
            src="../../assets/project-screenshots/time-tracking/{{ image }}.png"
            alt="project-image-{{ timeTrackingImageIndex + 1 }}"
          />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="handsetMode === true">
        <ng-container *ngFor="let handsetImage of timeTrackingHandsetImages">
          <img
            [@moveSlide]="
              moveRightTimeTracking ? 'slideonrightarrow' : 'normal'
            "
            *ngIf="handsetImage === timeTrackingHandsetActiveImage"
            class="handset-projects-img"
            src="../../assets/project-screenshots/time-tracking/{{
              handsetImage
            }}.png"
            alt="project-image-{{ timeTrackingImageIndex + 1 }}"
          />
        </ng-container>
      </ng-container>
      <img
        [@moveSlide]="moveRightTimeTracking ? 'rightarrow' : 'normal'"
        (click)="onImageChange('next', 'time-tracking')"
        [ngClass]="{
          'handset-arrow-right': handsetMode === true,
          'arrows-zoom': zoomedIn === true
        }"
        class="arrow-icon arrow-right"
        src="../../assets/icons/right-arrow.svg"
        alt="next-image-icon"
      />
    </div>
    <div *ngIf="zoomedIn" class="image-zoom-backdrop">
      <span (click)="onZoomIn('time-tracking')">x</span>
    </div>
    <br />
    <div [ngClass]="{ 'incr-z-index-p': zoomedIn === true }">
      <p>
        [ {{ timeTrackingImageIndex + 1 }} of {{ timeTrackingImages.length }} ]
      </p>
      <p *ngIf="timeTrackingImageIndex === 0">Home Page</p>
      <p *ngIf="timeTrackingImageIndex === 1">Home Page when logged in</p>
      <p *ngIf="timeTrackingImageIndex === 2">Log in or register</p>
    </div>
  </article>
  <br />
  <article *ngIf="!zoomedInRecipes && !zoomedInTimeTracking">
    <h2 *ngIf="!zoomedIn" routerLink="/projects" style="cursor: pointer">
      Online Shop
    </h2>
    <p *ngIf="!zoomedIn && handsetMode === false" style="font-size: 0.6rem">
      click to zoom in
    </p>
    <div
      [ngClass]="{
        'incr-z-index': zoomedIn === true,
        'projects-ctn': zoomedIn === false
      }"
    >
      <img
        [@moveSlide]="moveLeftOnlineShop ? 'leftarrow' : 'normal'"
        (click)="onImageChange('previous', 'online-shop')"
        [ngClass]="{
          'handset-arrow-left': handsetMode === true,
          'arrow-left': handsetMode === false,
          'arrows-zoom': zoomedIn === true
        }"
        class="arrow-icon"
        src="../../assets/icons/left-arrow.svg"
        alt="previous-image-icon"
      />
      <ng-container *ngIf="handsetMode === false">
        <ng-container *ngFor="let image of onlineShopImages">
          <img
            (click)="onZoomIn('online-shop')"
            [@moveSlide]="moveRightOnlineShop ? 'slideonrightarrow' : 'normal'"
            *ngIf="image === onlineShopActiveImage"
            [ngClass]="{
              'projects-img':
                handsetMode === false && zoomedInOnlineShop === false,
              'image-zoom': zoomedInOnlineShop === true
            }"
            src="../../assets/project-screenshots/online-shop/{{ image }}.png"
            alt="project-image-{{ onlineShopImageIndex + 1 }}"
          />
        </ng-container>
      </ng-container>
      <ng-container *ngIf="handsetMode === true">
        <ng-container *ngFor="let handsetImage of onlineShopHandsetImages">
          <img
            [@moveSlide]="moveRightOnlineShop ? 'slideonrightarrow' : 'normal'"
            *ngIf="handsetImage === onlineShopHandsetActiveImage"
            class="handset-projects-img"
            src="../../assets/project-screenshots/online-shop/{{
              handsetImage
            }}.png"
            alt="project-image-{{ onlineShopImageIndex + 1 }}"
          />
        </ng-container>
      </ng-container>
      <img
        [@moveSlide]="moveRightOnlineShop ? 'rightarrow' : 'normal'"
        (click)="onImageChange('next', 'online-shop')"
        [ngClass]="{
          'handset-arrow-right': handsetMode === true,
          'arrows-zoom': zoomedIn === true
        }"
        class="arrow-icon arrow-right"
        src="../../assets/icons/right-arrow.svg"
        alt="next-image-icon"
      />
    </div>
    <div *ngIf="zoomedIn" class="image-zoom-backdrop">
      <span (click)="onZoomIn('online-shop')">x</span>
    </div>
    <br />
    <div [ngClass]="{ 'incr-z-index-p': zoomedIn === true }">
      <p>[ {{ onlineShopImageIndex + 1 }} of {{ onlineShopImages.length }} ]</p>
      <p *ngIf="onlineShopImageIndex === 0">
        Products overview for non-admin users
      </p>
      <p *ngIf="onlineShopImageIndex === 1">Order history by id</p>
      <p *ngIf="onlineShopImageIndex === 2">Cart</p>
      <p *ngIf="onlineShopImageIndex === 3 && handsetMode === false">
        Order overview for all placed orders (admins only)
      </p>
      <p *ngIf="onlineShopImageIndex === 3 && handsetMode == true">
        Admin overview
      </p>
      <p *ngIf="onlineShopImageIndex === 4">
        Edit product in catalogue for admins
      </p>
      <p *ngIf="onlineShopImageIndex === 5">Adding new products for admins</p>
    </div>
  </article>
</main>
