html {
  font-family: "Manrope", sans-serif;
}

:root {
  --main-a-color: rgba(200, 50, 50, 1);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(60, 60, 60, 1);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  max-width: 39rem;
  margin: 0 auto;
  text-align: center;
}

h3 {
  color: whitesmoke;
}

label {
  color: var(--main-a-color);
  margin-bottom: 0.3rem;
}

p {
  color: whitesmoke;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.4rem;
}

button:hover {
  cursor: pointer;
}

.pos-btn {
  background-color: rgba(40, 200, 100, 1);
}

.n-btn {
  background-color: rgba(200, 100, 50, 1);
}

.neg-btn {
  background-color: var(--main-a-color);
}

.label-ctn {
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.btn-ctn {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.error-ctn {
  border: 0.1rem solid whitesmoke;
  border-radius: 0.2rem;
}

.error-msg {
  text-align: center;
  margin: 0.1rem;
}
