<h1>Recipes Administration</h1>
<div class="btn-ctn">
  <button (click)="onAddTable()" mat-fab color="accent">
    <mat-icon>exposure_plus_1</mat-icon>
  </button>
</div>
<br />
<ng-container #parent></ng-container>
<br />
<ng-container *ngFor="let recipe of recipes">
  <br />
  <mat-expansion-panel #matPanel>
    <mat-expansion-panel-header>
      <mat-panel-title
        (keydown.Space)="$event.stopImmediatePropagation()"
        #recipeTitle
      >
        <mat-form-field [ngClass]="{ hidden: !editMode, name: editMode }">
          <input matInput placeholder="" value="Recipe Title" />
        </mat-form-field>
        <span [ngClass]="{ hidden: editMode }">
          {{ recipe.title }} with id: <span>{{ recipe._id }}</span></span
        >
      </mat-panel-title>
      <mat-panel-description>
        <!-- This is a summary of the content -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table
      #table
      mat-table
      [dataSource]="recipe.ingredients"
      class="mat-elevation-z8"
    >
      - Note that these columns can be defined in any order. The actual rendered
      columns are set as a property on the row definition"
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <span [ngClass]="{ hidden: editMode }">
            {{ element.quantity }}
          </span>
          <mat-form-field [ngClass]="{ hidden: !editMode }">
            <input matInput placeholder="" value="{{ element.quantity }}" />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef>Unit</th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="{ hidden: editMode }">
            {{ element.unit }}
          </span>
          <mat-form-field [ngClass]="{ hidden: !editMode, unit: editMode }">
            <input matInput placeholder="" value="{{ element.unit }}" />
          </mat-form-field>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          <span [ngClass]="{ hidden: editMode }">
            {{ element.name }}
          </span>
          <mat-form-field [ngClass]="{ hidden: !editMode, name: editMode }">
            <input matInput placeholder="" value="{{ element.name }}" />
          </mat-form-field>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- <p>This is the primary content of the panel.</p> -->
    <br />
    <div class="btn-ctn">
      <button mat-raised-button color="basic" (click)="onSubmit()">
        Submit
      </button>
      <button
        mat-raised-button
        color="basic"
        (click)="onEdit(recipeTitle, table)"
      >
        Edit
      </button>
      <button mat-raised-button color="warn" (click)="onDelete(recipe._id)">
        Delete
      </button>
    </div>
  </mat-expansion-panel>
</ng-container>
