#orders-list {
  width: 55rem;
  display: grid;
  margin: 0 auto;
}

.order-container {
  width: 55rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  border: 1px solid black;
  margin-bottom: 0.25rem;
}

.order-id {
  width: 17rem;
}

.email {
  width: 15rem;
}

.title {
  width: 2rem;
}

.firstName {
  width: 10rem;
}

.surname {
  width: 15rem;
}

.details {
  margin-right: 0.25rem;
}

.details a {
  text-decoration: none;
}

.title,
.firstName {
  margin-right: 0.25rem;
}
