body h1 {
  text-align: center;
}

#checkout-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 3rem;
}

#checkout-form {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  border: 2px solid black;
  box-shadow: 10px -3px 15px rgba(0, 0, 0, 0.17);
}

#checkout-form label,
input,
select {
  max-width: 100%;
  margin: 0.5rem;
}

#address-title {
  width: 3rem;
}

#address-country {
  width: 5rem;
}

.label-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.email-container {
  display: flex;
}

.name-container,
.address-container-street,
.address-container-area,
.payment-method-container,
.paypal-container {
  display: flex;
  margin-top: 2rem;
}

.paypal-container {
  margin: 2rem 0;
}

.credit-card-container {
  display: none;
  margin: 2rem 0;
}

#address-street-number {
  width: 3rem;
}

#cvc {
  width: 3rem;
}

.btn-ctrl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn-ctrl button {
  font-family: inherit;
  background-color: rgb(239, 156, 61);
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  height: 2rem;
  width: 6rem;
}

.btn-ctrl button:hover {
  font-weight: bold;
  background-color: rgb(250, 182, 104);
}

.btn-ctrl a {
  text-decoration: none;
  max-width: 30%;
  text-align: center;
}

.btn-ctrl a:hover {
  font-weight: bold;
}

@media (max-width: 1540px) {
  #shipping-payment {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .email-container,
  .name-container {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  .address-container-street,
  .address-container-area,
  .payment-method-container,
  .paypal-container,
  .credit-card-container {
    margin-top: 0.5rem;
    flex-wrap: wrap;
  }
  #address-areacode {
    width: 5rem;
  }
}
