#center-p-home {
  text-align: center;
  margin-top: 3rem;
}

.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
.item-4 {
  grid-area: item-4;
}
.item-5 {
  grid-area: item-5;
}
.item-6 {
  grid-area: item-6;
}
.item-7 {
  grid-area: item-7;
}

.images-container {
  display: grid;
  justify-items: center;
  grid-template-areas:
    'item-1 item-2 item-3'
    '. item-4 .'
    'item-5 item-6 item-7';
  min-width: 80%;
  row-gap: 2rem;
  margin: 5rem auto 0 auto;
}

.images-container img {
  height: 10rem;
  width: 10rem;
  object-fit: contain;
  border-radius: 12.5px;
}

.images-container img:hover {
  animation-name: bg-on-hover;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes bg-on-hover {
  0% {
    background-color: white;
  }
  100% {
    background-color: rgb(235, 233, 233);
  }
}

@media (max-width: 680px) {
  .images-container {
    grid-template-areas:
      'item-1 item-2'
      'item-3 item-4'
      'item-5 item-6'
      'item-7 .';
    width: 100%;
    margin-top: 2rem;
  }
  .images-container img {
    height: 7rem;
    width: 7rem;
  }
}
