.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.product-container {
  position: relative;
  background-color: rgb(238, 232, 232);
  border-radius: 3px;
  border: 2px solid black;
  height: 22rem;
  text-align: center;
  box-shadow: 10px -3px 15px rgba(0, 0, 0, 0.17);
}

.product-container img {
  height: 6rem;
  margin: 1rem 0;
}
.product-container p {
  text-align: start;
  margin: 0 0 0 1rem;
}

.product-container a {
  color: black;
}

.product-details-overall-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 9rem;
  justify-content: space-between;
  margin: 0 0 1rem 0;
}

.product-details-1 {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-self: center;
  bottom: 0;
  height: 1.5rem;
}

.product-details-1 button {
  width: 2rem;
}

.product-details-1 input {
  padding: 0;
  width: 2.5rem;
}

.product-details-2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 0;
  margin: 0;
}

.product-details-2 p {
  margin: 0;
}

.product-details-3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-details-3 button {
  font-family: inherit;
  background-color: rgb(239, 156, 61);
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  height: 2rem;
  width: 6rem;
}

.product-details-3 button:hover {
  font-weight: bold;
  background-color: rgb(250, 182, 104);
}

.product-details-3 a {
  text-decoration: none;
}

.product-details-3 a:hover {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr;
  }

  .product-container {
    height: 20rem;
  }

  .product-container img {
    margin-bottom: 0;
  }

  .product-container h2 {
    font-size: 1.25rem;
    margin: 0.5rem 0;
  }
}
