<header>
  <nav [ngClass]="{ 'handset-nav': handSetMode === true }">
    <a
      (mouseenter)="onMouseOver('home')"
      (mouseleave)="onMouseLeave('home')"
      [@mouseOverLinks]="mouseOver.home ? 'mouseover' : 'normal'"
      routerLink="/"
      ><img src="../../assets/logos/forte_logo.svg" alt="home-icon"
    /></a>
    <a
      [ngClass]="{ hide: handSetMode === true }"
      (mouseenter)="onMouseOver('projects')"
      (mouseleave)="onMouseLeave('projects')"
      [@mouseOverLinks]="mouseOver.projects ? 'mouseover' : 'normal'"
      routerLink="/projects"
      >Projects</a
    >
    <div
      (mouseleave)="onMouseLeaveDropdown()"
      *ngIf="!handSetMode && dropdown"
      class="dropdown"
    >
      <a href="/projects#recipes">Recipes</a>
      <a href="/projects#time-tracking">Time Tracking</a>
      <a href="/projects#online-shop">Online Shop</a>
    </div>
    <a
      [ngClass]="{ hide: handSetMode === true }"
      (mouseenter)="onMouseOver('about')"
      (mouseleave)="onMouseLeave('about')"
      [@mouseOverLinks]="mouseOver.about ? 'mouseover' : 'normal'"
      routerLink="/about"
      >About</a
    >
    <div
      [@clickHamburgerIcon]="hamburgerIconOpen ? 'open' : 'normal'"
      (click)="onHamburgerClick()"
      [ngClass]="{
        hide: handSetMode === false,
        'hamburger-ctn': handSetMode === true
      }"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <div *ngIf="hamburgerIconOpen" class="sidebar">
    <div class="sidebar-links-ctn">
      <a (click)="onHamburgerClick()" routerLink="/">Home</a>
      <a (click)="onHamburgerClick()" routerLink="/projects">Projects</a>
      <a (click)="onHamburgerClick()" routerLink="/about">About</a>
    </div>
  </div>
  <hr />
  <br />
</header>
