.ctn-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  img {
    width: 5rem;
    height: 5rem;
    animation: tilt 2s infinite ease-in-out;
  }
}



@keyframes tilt {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}
