<div *ngIf="(handset$ | async)?.matches === false" class="ctn-animation">
  <div class="ctn-animation-txt">
    <p class="animation-txt">Pick a delicious recipe.</p>
    <p class="animation-txt">Add to Shopping List.</p>
    <p class="animation-txt">Enjoy!</p>
  </div>
</div>
<div
  [ngClass]="
    (handset$ | async)?.matches === true
      ? 'hs-ctn-list-header'
      : 'ctn-list-header'
  "
>
  <mat-form-field class="ctn-filter">
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      [ngModel]="this.recipeListService.filter$ | async"
    />
  </mat-form-field>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [pageSize]="pageSize"
    [length]="paginatorLength"
    [disabled]="disabled"
    [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="true"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<div
  [ngClass]="(handset$ | async)?.matches === true ? 'hs-ctn-rcps' : 'ctn-rcps'"
>
  <div
    *ngFor="let recipe of recipes"
    [ngClass]="{
      'ctn-rcp': (handset$ | async)?.matches === false,
      'hs-ctn-rcp': (handset$ | async)?.matches === true
    }"
  >
    <h2>
      <a [routerLink]="['/recipes', recipe.id]" class="rcp-title">{{
        recipe.title
      }}</a>
    </h2>
    <div
      [class]="(handset$ | async)?.matches === true ? 'hs-ctn-img' : 'ctn-img'"
    >
      <a [routerLink]="['/recipes', recipe.id]">
        <img
          [src]="'../../assets/' + recipe.imagePath"
          [class]="(handset$ | async)?.matches === true ? 'hs-img' : 'rcp-img'"
      /></a>
    </div>
    <p>{{ recipe.shortDesc }}</p>
  </div>
</div>
