nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: var(--main-bg-color);
}

ul {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 50%;
}

/* handset mode*/

.hs-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
}
