<header>
  <nav>
    <ul [ngClass]="{ 'hs-ul': handsetMode === true }">
      <li>
        <a routerLink="recipes-list"
          ><img src="../../assets/list-2-32.png" alt="list of recipes"
        /></a>
      </li>
      <li>
        <a *ngIf="!userId" routerLink="shopping-list"
          ><img src="../../assets/shopping-cart-32.png" alt="shopping cart" />
          <span *ngIf="recipesAdded" style="color: yellow">{{
            recipesAdded
          }}</span></a
        >
        <a *ngIf="userId" routerLink="shopping-list/{{ userId }}"
          ><img src="../../assets/shopping-cart-32.png" alt="shopping cart" />
          <span *ngIf="recipesAdded" style="color: yellow">{{
            recipesAdded
          }}</span></a
        >
      </li>
      <li *ngIf="!loginStatus">
        <a routerLink="auth"
          ><img src="../../assets/account-login-32.png" alt="account login"
        /></a>
      </li>
      <li *ngIf="loginStatus">
        <a (click)="onLogOut()" style="cursor: pointer"
          ><img src="../../assets/account-logout-32.png" alt="account logout"
        /></a>
      </li>
      <li *ngIf="adminStatus"><a routerLink="admin">Admin</a></li>
    </ul>
  </nav>
</header>
