<h1>Recipe Details</h1>
<section [ngClass]="{ 'hs-section': handsetMode === true }">
  <article [ngClass]="{ 'hs-article': handsetMode === true }">
    <h2>{{ recipe.title }}</h2>
    <img
      class="rcp-img"
      src="../../assets/{{ recipe.title }}.jpg"
      alt="burger"
    />
  </article>
  <article [ngClass]="{ 'hs-article': handsetMode === true }">
    <h2>Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.quantity }} {{ ingredient.unit }} {{ ingredient.name }}
      </li>
    </ul>
    <button
      *ngIf="!added && userId"
      mat-raised-button
      color="accent"
      (click)="onAddItems()"
    >
      Add to Shopping List
    </button>
    <button
      *ngIf="added"
      mat-raised-button
      color="primary"
      (click)="onAddItems()"
    >
      Added to Shopping List!
    </button>
    <p>{{ recipe.desc }}</p>
  </article>
</section>
