section {
  display: flex;
  justify-content: space-around;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

h2 {
  text-align: center;
}

ul {
  margin-left: 1rem;
  list-style-type: circle;
}

button {
  display: block;
  margin: 1rem auto;
}

.rcp-img {
  width: 100%;
  border-radius: 0.5rem;
}

/* handset mode */

.hs-section {
  display: block;
}

.hs-article {
  display: block;
  width: 100%;
  margin: auto;
}
